<%- include('includes/head') %>
  <div class="login-container">
    <form action="/register/register" class="form-register" method="POST">
      <ul class="login-nav">
        <li class="login_item">
          <a href="#">Login</a>
        </li>
        <li class="login_item  active">
          <a class="teste" href="/register">Registrar</a>
        </li>
      </ul>
      <ul class="body_login">
        <label for="login-input-user" class="login__label">E-mail</label>
        <input type="email" class="input_user" name="user">
        <label for="login-input-password" class="login__label">Senha</label>
        <input type="password" class="input_password" name="password">
        <label for="login-input-password" class="login__label">Confirme sua Senha</label>
        <input type="password" class="input_password" name="password">
      </ul>
      <div  class="login-button">
        <button type="submit">Registrar</button>
      </div>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">  <!--A cada reset na pagina, um novo token sera gerado, protegendo o form -->
    </form>
  </div>
<%- include('includes/footer') %>
